.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.foodSection { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    background-color:#004643;
    color: #faf0ca;
    padding: 2em;
    border-radius: 2em;
}

.socialButtonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2em;
    padding: 0.5em;
}

.socialButton { 
    width: 100%;
    font-size: large;
}

.contactSection {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}



@media screen and (max-width: 1000px) {
    .foodSection{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .socialButtonsContainer{
        grid-template-columns: repeat(4, 1fr);
    }
    
}

@media screen and (max-width: 700) {
    .foodSection{
        grid-template-columns: repeat(1, 1fr);
    }
}